.popup__edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}

@media screen and (min-width: 1280px) {
    .popup__edit-form {
        margin-bottom: 36px;
    }
}