.popup__input-border-underline {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 238px;
}

@media screen and (min-width: 768px) {
    .popup__input-border-underline {
        width: 358px;
    }
}